## Cardapio Data

In [3]:
import pandas as pd

cardapio_df = pd.read_excel('./citta/Cardápio - 12.23.xlsx',skiprows=2)


def get_colunas(_dataframe):
    colunas = _dataframe.columns
    return colunas


display(cardapio_df.head(3))

,Açaí e Pitaya,300ml,500ml,Unnamed: 3,Tapioca,PRECO,Unnamed: 6,Crepe,PRECO.1,Unnamed: 9,...,Unnamed: 41,Sopas Tradicionais,PRECOs,Unnamed: 44,Pizzas,Igredientes.1,Brotinho,Média,Grande,Familia
0,Açai,17.0,22.0,NaN,carne seca e queijo coalho,26.0,NaN,Atum com Cream Cheese,28.0,NaN,...,NaN,Caldo Verde,19.9,NaN,Quatro Queijos,"Muçarela, Catupiry, Provolone, Queijo Prato, A...",20.9,26.9,34.9,44.9
1,Pitaya,17.0,22.0,NaN,coco e leite condensado,22.0,NaN,Carne Seca com Q. Coalho,28.0,NaN,...,NaN,Sopa de Legumes,19.9,NaN,Atum,"Muçarela, Atum, Cebola e Orégano",NaN,NaN,NaN,NaN
2,Morango,3.0,3.0,NaN,Com Manteiga,13.0,NaN,"Frango, Palmito e Requeijão",27.0,NaN,...,NaN,Sopa de Ervilha,19.9,NaN,Bela Città,"Muçarela, Tomate, Palmito, Ovo, Azeitona e Oré...",NaN,NaN,NaN,NaN

In [4]:
colunas_df = get_colunas(cardapio_df)

print(colunas_df)

colunas_dataframe = []

for i in colunas_df:
    colunas_dataframe.append(i)

Index(['Açaí e Pitaya', '300ml', '500ml', 'Unnamed: 3', 'Tapioca', 'PRECO',
       'Unnamed: 6', 'Crepe', 'PRECO.1', 'Unnamed: 9', 'Omelete', 'PRECO.2',
       'Unnamed: 12', 'Cuscuz de Milho', 'PRECO.3', 'Unnamed: 15',
       'Hamburgueres Citta', 'PRECO.4', 'Unnamed: 18', 'Sobremesas (300ML)',
       'PRECO.5', 'Unnamed: 21', 'Salgados', 'PRECO.6', 'Unnamed: 24',
       'Sanduíche Natural', 'PRECO.7', 'Unnamed: 27',
       'Sanduíches Tradicionais', 'Igredientes', 'PRECO.8', 'Unnamed: 31',
       'Pratos Tradicionais', 'PRECO.9', 'Unnamed: 34', 'Pratos a la carte',
       'PRECO.10', 'Unnamed: 37', 'Petiscos', 'Meia', 'Inteira', 'Unnamed: 41',
       'Sopas Tradicionais', 'PRECOs', 'Unnamed: 44', 'Pizzas',
       'Igredientes.1', 'Brotinho', 'Média', 'Grande', 'Familia'],
      dtype='object')

In [34]:

array_table = []

for i in range(len(colunas_df)):
    tabela = cardapio_df[[colunas_df[i]]].dropna()
    array_table.append(tabela)
    if i == 2:
        break

def juntar_df():
    # Concatenar os DataFrames horizontalmente
    concatenated_df = pd.concat([array_table[0], array_table[1], array_table[2]], axis=1)

    # Exibir o DataFrame concatenado
    concatenated_df = concatenated_df.dropna()
    return concatenated_df
acai_df = juntar_df()



template = pd.read_excel('./citta/cardapio_template.xlsx',sheet_name='TEMPLATE')
template['NOME'] = acai_df[colunas_df[0]]
template['CATEGORIA'] = colunas_df[0]
template['preco_1'] = acai_df[colunas_df[1]]
template['preco_2'] = acai_df[colunas_df[2]]

display(template)

,NOME,CATEGORIA,SUB CAT,preco_1,preco_2,IGREDIENTES,IMAGEM,Unnamed: 7,CATEGORIA.1,ADICIONAIS,PRECO_ADD
0,Açai,Açaí e Pitaya,NaN,17.0,22.0,NaN,NaN,NaN,Açaí e Pitaya,Morango,3.0
1,Pitaya,Açaí e Pitaya,NaN,17.0,22.0,NaN,NaN,NaN,Açaí e Pitaya,Banana,3.0
2,Morango,Açaí e Pitaya,NaN,3.0,3.0,NaN,NaN,NaN,Açaí e Pitaya,Granola,4.0
3,Banana,Açaí e Pitaya,NaN,3.0,3.0,NaN,NaN,NaN,Açaí e Pitaya,Proteinato,4.0
4,Granola,Açaí e Pitaya,NaN,4.0,4.0,NaN,NaN,NaN,Sanduíches Tradicionais,Salada,3.0
...,...,...,...,...,...,...,...,...,...,...,...
127,NaN,Açaí e Pitaya,Especiais,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,Açaí e Pitaya,Especiais,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,NaN,Açaí e Pitaya,Especiais,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,NaN,Açaí e Pitaya,Especiais,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,NaN,Açaí e Pitaya,Especiais,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
acai_df = cardapio_df['Açaí e Pitaya']
acai_300 = cardapio_df['300ml']
acai_500 = cardapio_df['500ml']

# Concatenar os DataFrames horizontalmente
concatenated_df = pd.concat([acai_df, acai_300, acai_500], axis=1)

# Exibir o DataFrame concatenado
concatenated_df.dropna()

  Açaí e Pitaya  300ml  500ml
0          Açai   17.0   22.0
1        Pitaya   17.0   22.0
2       Morango    3.0    3.0
3        Banana    3.0    3.0
4       Granola    4.0    4.0
5    Proteinato    4.0    4.0

## 1) Automation

In [1]:

import os

def gerarJson(df, id):
    output_folder = 'cardapio_json'  # Nome da pasta de saída
    if not os.path.exists(output_folder):
        os.makedirs(output_folder)

    json_data = df.to_json(orient='records', force_ascii=False)
    file_name = f'tabela_{id}.json'  # Nome do arquivo
    file_path = os.path.join(output_folder, file_name)  # Caminho completo do arquivo

    with open(file_path, 'w', encoding='utf-8') as file:
        file.write(json_data)

    print(f'\nArquivo {file_name} salvo com sucesso!')

In [2]:
import pandas as pd



cardapio_df = pd.read_excel('./citta/Cardápio - 12.23.xlsx',skiprows=2)



def criar_tabelas_dinamicas(colunas, df, tabela_num=1):
    tabela_colunas = []
    tabela_valores = []

    tabelas = []

    for coluna in colunas:
        if 'Unnamed' in coluna:
            if tabela_colunas:
                tabela = pd.DataFrame({col: val for col, val in zip(tabela_colunas, tabela_valores)})
                tabela = tabela.dropna()
                tabelas.append(tabela)
                tabela_colunas = []
                tabela_valores = []
                tabela_num += 1
            continue

        tabela_colunas.append(coluna)
        tabela_valores.append(df[coluna])

    if tabela_colunas:
        tabela = pd.DataFrame({col: val for col, val in zip(tabela_colunas, tabela_valores)})
        tabela = tabela.dropna()
        tabelas.append(tabela)

    for tabela_df in tabelas:
        display(tabela_df)
        gerarJson(tabela_df, tabela_num)
        tabela_num += 1

    return tabelas


tabelas = criar_tabelas_dinamicas(colunas_dataframe, cardapio_df)

print('\nProcesso concluído.')

NameError: name 'colunas_dataframe' is not defined

## 2) Automate Base consolidada

In [5]:
import pandas as pd
import os

def gerarJson(df, id):
    output_folder = 'cardapio'  # Nome da pasta de saída
    if not os.path.exists(output_folder):
        os.makedirs(output_folder)

    json_data = df.to_json(orient='records', force_ascii=False)
    file_name = f'tabela_{id}.json'  # Nome do arquivo
    file_path = os.path.join(output_folder, file_name)  # Caminho completo do arquivo

    with open(file_path, 'w', encoding='utf-8') as file:
        file.write(json_data)

    print(f'\nArquivo {file_name} salvo com sucesso!')




df_consolidado = pd.read_excel('./citta/cardapio_template.xlsx')

df_consolidado = df_consolidado.iloc[:,:7]

produtos = df_consolidado['CATEGORIA'].value_counts()
print(produtos)
categorias = list(df_consolidado['CATEGORIA'].drop_duplicates())

ARRAY_PRODUTOS = []

for index in range(len(categorias)):
    df_filrado = df_consolidado.loc[ df_consolidado['CATEGORIA'] == categorias[index]]
    ARRAY_PRODUTOS.append(df_filrado)
    gerarJson(df_filrado,index)

ARRAY_PRODUTOS[7]

CATEGORIA
Sucos              52
Bebidas            13
Cafeteria          12
Tapioca            10
Hamburguer         10
Sanduíches         10
Crepe               5
Omelete             5
Sobremesas          5
Salgados            5
Açai e Pitaya       2
Cuscuz de Milho     2
Name: count, dtype: int64

Arquivo tabela_0.json salvo com sucesso!

Arquivo tabela_1.json salvo com sucesso!

Arquivo tabela_2.json salvo com sucesso!

Arquivo tabela_3.json salvo com sucesso!

Arquivo tabela_4.json salvo com sucesso!

Arquivo tabela_5.json salvo com sucesso!

Arquivo tabela_6.json salvo com sucesso!

Arquivo tabela_7.json salvo com sucesso!

Arquivo tabela_8.json salvo com sucesso!

Arquivo tabela_9.json salvo com sucesso!

Arquivo tabela_10.json salvo com sucesso!

Arquivo tabela_11.json salvo com sucesso!

,NOME,CATEGORIA,SUB_CAT,preco_1,preco_2,IGREDIENTES,IMAGEM
39,Batata frita 1/2 porção,Salgados,SIM,18.9,NaN,NaN,NaN
40,Batata Frita Porçao,Salgados,SIM,28.9,NaN,NaN,NaN
41,Fatia de Pizza,Salgados,NaN,12.0,NaN,NaN,Icon(Icons.pizza)
42,Pão Queijo Unidade,Salgados,NaN,4.0,NaN,NaN,NaN
43,Salgados Diversos,Salgados,NaN,9.0,NaN,NaN,NaN

In [6]:
filesProdutos = ARRAY_PRODUTOS[1]['IMAGEM']
display(filesProdutos)

files = filesProdutos.iloc[0]
files_list = files.split('|')
files_list = list(map(str.strip,files_list))

print(files_list)

2     tapioca-carne-seca.png | Tapiocas (2).jpg |  T...
3                                      Tapiocas (3).jpg
4                                      Tapiocas (3).jpg
5                                      Tapiocas (3).jpg
6                                      Tapiocas (3).jpg
7                                      Tapiocas (3).jpg
8                                      Tapiocas (3).jpg
9                                      Tapiocas (3).jpg
10                                     Tapiocas (7).jpg
11                  Tapiocas (1).jpg | Tapiocas (3).jpg
Name: IMAGEM, dtype: object

['tapioca-carne-seca.png', 'Tapiocas (2).jpg', 'Tapiocas (8).jpg']